@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f8;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.container p{
    font-size: 18px;
    margin: 16px 0px;
}

img{
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #ffff;
    min-width: 320px;
}

.countdown-item{
    background-color: #49a6e9;
    padding: 6px;
    min-width: 65px
}

.expired{
    color: #222;
    margin: 0 auto;
}